@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
@import url('https://fonts.googleapis.com/css?family=Acme');



html {
    padding: 0;
    margin: 0;
    height: 100%;
    background: -webkit-linear-gradient(to top,#FF6AD5, #94D0FF);
    background: linear-gradient(to top, #FF6AD5, #94D0FF);
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

#buttons {
    margin: auto;
    width: 100%;
    display:flex;
    justify-content: center;
}

input[type="submit"] {
    margin: 1%;
    height: 50px;
    background-color: #8795E8;
    border: 2px solid black;
}

#test {
    width: 100%;
}

#test > button {
    width: auto;
}

#text {
    margin-top: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 4%;
    padding-right: 4%;
    font-size: 1.5em;
    margin-left: 15%;
    margin-right: 15%;
    background: rgba(255,106,213,20);
    text-align: center;
}

.navbar {
    margin: 0;
    padding: 0;
}

nav > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    display: block;
    height: 50px;
    font-size: 12px;
    background-color: rgba(199,116,232,90);
    font-family: 'Playfair Display';
    border-bottom: 1px solid #000000;
    text-align: center;
}

nav > ul > li {

    float: right;
}

    nav > ul > li > a {
        display: block;
        text-align: center;
        padding: 12px 42px 11px 42px;
        margin: 0;
        text-decoration: none;
        font-family: 'Lobster', serif;
        font-size: 1.8em;
    }

nav > ul > li > a:link, nav > ul > li > a:visited {
    color:black;
    transition: 0.5s;
}

nav > ul > li > a:hover, nav > ul > li > a:active {
    color: black;
}

nav#mainlinks a:hover {
    background-color: whitesmoke;
    transition: 0.6s;
}
