html {
    padding: 0;
    margin: 0;
    height: 100%;
    background: -webkit-linear-gradient(to top,#FF6AD5, #94D0FF);
    background: linear-gradient(to top, #FF6AD5, #94D0FF);
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.pagetext {
    width: 100%;
    text-align: center;
    padding-top: 80px;
}